<header class="main-head">
  
    <div class="task-bar">
      <div class="logo-sec visible-xs hidden-sm hidden-md hidden-lg">
        <figure>
          <img src="assets/img/login/logo.png" alt="" class="logo" />
        </figure>
      </div>



      <nav class="hamberger-navCCC left_nav_header">
    
          <div class="left_nav_header_menuList">
            <ul class="nav navbar-nav">
  
               <li>
                <!-- <a (click)="mailnotifination()">
                  <span>
                    <mat-icon class=" icon-font-size26 icons-color-white" matTooltip="Mail Notification">mail</mat-icon>
                    <span *ngIf="headerService.notificationcount!==0" class="badge"> {{headerService.notificationcount}}</span>
      
                  </span>
                </a> -->
              </li>
  
  
            <!--  <li>
                <a href="javascript:;" routerLink="/help">
                  <span>
                    <mat-icon class="icons-color-white" matTooltip="Help">help_outline</mat-icon>
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:;" routerLink="/faq">
                  <span>
                    <mat-icon class="icons-color-white" matTooltip="Info">info</mat-icon>
                  </span>
                </a>
              </li>
              <!-- <li>
                  <a (click)="triggerChat()">
                    <span>
                      <mat-icon class="icons-color-white" matTooltip="chat">chat</mat-icon>
                    </span>
                  </a>
                </li> -->
              <!-- <li><p style="font-size: 13px;
                margin-top: 10px;;
                  padding: 10px 10px;
                  background: #93c339;
                  color: #fff; ">Flash News</p></li>
                <li class="center-des">
                
                  <marquee *ngIf="flasharr != undefined && flasharr.length > 0" direction="left" speed="slow" behavior="loop"  style="padding: 20px 0 10px 0;">
                    <span style="color: #fff; padding-right: 20px; font-size: 18px;"> 
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                       
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    </span>
                    <span *ngFor="let tt of flasharr">
                      <span style="color: #fff;"> {{tt.flashNewsDescription}} *</span>
        
                    </span>
                  </marquee>
        
        
                </li> -->
             
              
    
            </ul> 
            
          </div> 
          
               
        </nav>
        
        
         
      <nav class="right_nav_header">
        <ul class="nav navbar-nav">
          <!-- <li>
            <a href="javascript:;" [matMenuTriggerFor]="menu">
              <span>
                <mat-icon class="icons-color-white" matTooltip="Master">perm_data_setting</mat-icon>
              </span>
            </a> 
            <mat-menu #menu="matMenu" class="master_menu_list">  
              <div *ngIf="masterlist!=='' && masterlist.length!==0" class="panel-title-ven-outer">
                <div  class="panel-title-ven-inner">Masters</div>
                <span *ngFor="let tt of masterlist">
                  <button style="margin: 5px 5px 5px 5px !important;    height: 34px !important;
                    line-height: 34px !important;border: 0px solid #ddd !important;" mat-menu-item [routerLink]="tt.screenUrl">
                    <mat-icon>{{tt.screenIcon}}</mat-icon>
                    <span>{{tt.screenName}}</span>
                  </button>
                </span>
              </div>
              <div *ngIf="configlist!=='' && configlist.length!==0" class="panel-title-ven-outer">
                  <div  class="panel-title-ven-inner">Configuration</div>
                 <span *ngFor="let tt of configlist">
                  <button style="margin: 5px 5px 5px 5px !important;    height: 34px !important;
                    line-height: 34px !important;border: 0px solid #ddd !important;" mat-menu-item [routerLink]="tt.screenUrl">
                    <mat-icon>{{tt.screenIcon}}</mat-icon>
                    <span>{{tt.screenName}}</span>
                  </button>
                </span>
                </div>
              <div *ngIf="transactionlist!=='' && transactionlist.length!==0" class="panel-title-ven-outer">
                  <div  class="panel-title-ven-inner">General</div>
                 <span *ngFor="let tt of transactionlist">
                  <button style="margin: 5px 5px 5px 5px !important;    height: 34px !important;
                    line-height: 34px !important;border: 0px solid #ddd !important;" mat-menu-item [routerLink]="tt.screenUrl">
                    <mat-icon>{{tt.screenIcon}}</mat-icon>
                    <span>{{tt.screenName}}</span>
                  </button>
                </span>
                </div>

                
            </mat-menu>
          </li>
          <li>
            <a href="javascript:;" routerLink="/landing-page">
              <span>
                <mat-icon class="icons-color-white" matTooltip="Home">dashboard</mat-icon>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/dashboard">
              <span>
                <mat-icon class="icons-color-white" matTooltip="Dashboard">poll</mat-icon>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/help">
              <span>
                <mat-icon class="icons-color-white" matTooltip="Help">help</mat-icon>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/faq">
              <span>
                <mat-icon class="icons-color-white" matTooltip="FAQ">info</mat-icon>
              </span>
            </a>
          </li>    


          <li>
            <a href="javascript:;" routerLink="/changepassword">
              <span>
                <mat-icon class="icons-color-white" matTooltip="Change Password">settings</mat-icon>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/userprofile">
              <span>
                <mat-icon class="icons-color-white" matTooltip="View Profile">account_circle</mat-icon>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:;" (click)="logout()">
              <span>
                <mat-icon class="icons-color-white" matTooltip="Log Out">assignment_return</mat-icon>
              </span>
            </a>
          </li>
          <li class="username" *ngIf="userDetails" routerLink="/userprofile" matTooltip="View Profile" style="display:none;">
            <img class="profile-pic" src="{{url + userDetails.profile}}">
            {{ userDetails.username }}
          </li> -->
  
        </ul>
      </nav>



    </div>
  </header>
  