<!-- <div class="container-fluid">
  <div class="main-content">

    <app-left-nav></app-left-nav>
    <app-tasks></app-tasks>

    <article class="right-panel">

      <div class="row">
        <div class="col-md-12">
          <div class="row" id="noreinfo">
              <br>


              <div class="col-md-12 col-sm-12">
                <div class="panel panel-default" style=" border-radius: 6px;
                box-shadow: 0px 4px 30px -10px rgba(13,28,39,0.6);">
                  <div class="page-title_ven1" style="text-align:center">MODULE</div>
                  <div class="panel-body">
                  
                    <div class="row main-container">
                      <div class="list">
                        <ul class="dashboard-items">
                          <li *ngFor="let count of countList">
                            <a (click)="route(count)">
                              <span class="top"></span>
                              <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
                              <span class="title"> {{count.moduleTitle}}</span>
                              <span class="bottom"></span>
                              <span class="bottom"></span>
                            </a>
                            <span>&nbsp;</span>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>


      <div class="row"></div>

    
    </article>
  </div>

</div> -->